 # **<font color="DarkBlue">Series de tiempo 游냪 </font>**

<p align="center">
<img src="https://pandas.pydata.org/static/img/pandas_mark.svg" width="50">
</p>

https://pandas.pydata.org/

 # **<font color="DarkBlue">Fundamentos de series temporales</font>**

<p align="justify">
En Pandas, un tipo fundamental de objeto de serie temporal es una <b>Serie temporal</b>, que se caracteriza por estar indexada mediante <b>marcas de tiempo</b>. Este tipo de objeto es utilizado frecuentemente para trabajar con datos que var칤an con el tiempo, como series de ventas, precios de acciones, temperaturas, entre otros.
<br><br>
Las marcas de tiempo pueden ser representadas en otros formatos fuera de Pandas, como cadenas de texto o objetos <code>datetime</code> de Python.
<br><br>
Sin embargo, al ser convertidas a una Serie temporal en Pandas, las marcas de tiempo se indexan de manera eficiente, lo que permite realizar operaciones de an치lisis temporal de forma r치pida y precisa.
<br><br>
Las Series temporales en Pandas son muy 칰tiles para tareas como el an치lisis de tendencias, descomposici칩n de series temporales, resampling (cambio de frecuencia de las muestras), y la predicci칩n a futuro.
<br><br>
 Adem치s, el uso de marcas de tiempo como 칤ndice mejora la eficiencia en el acceso y la manipulaci칩n de los datos a lo largo del tiempo.
</p>

In [ ]:
import pandas as pd
import plotly.express as px
from datetime import datetime

Ejemplo:

<p align="justify">
<b>DatetimeIndex</b> es un tipo especial de 칤ndice que se utiliza para representar datos de tiempo en una serie o DataFrame. Este 칤ndice permite realizar un an치lisis eficiente y operaciones de manipulaci칩n temporal, como la reindexaci칩n de datos, el agrupamiento por frecuencia y la conversi칩n de datos a diferentes intervalos de tiempo.
<br><br>
 Al crear un objeto <code>DatetimeIndex</code>, Pandas utiliza marcas de tiempo (fechas y horas) para indexar las filas, lo que facilita las operaciones basadas en tiempo.
 <br><br>
 Es com칰nmente utilizado para trabajar con datos de series temporales, como las fechas de eventos o registros en un conjunto de datos.
</p>

In [ ]:
# Crear un rango de fechas

fechas = pd.date_range("2024-11-01", periods=5, freq="D")
fechas

DatetimeIndex(['2024-11-01', '2024-11-02', '2024-11-03', '2024-11-04',
               '2024-11-05'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# Crear una Serie con un DatetimeIndex

datos = [10, 20, 30, 40, 50]
serie_temporal = pd.Series(datos, index=fechas)
serie_temporal.name = "Datos"

In [ ]:
serie_temporal

2024-11-01    10
2024-11-02    20
2024-11-03    30
2024-11-04    40
2024-11-05    50
Freq: D, Name: Datos, dtype: int64

<p align="justify">
Este ejemplo crea un objeto <code>DatetimeIndex</code> utilizando <code>pd.date_range()</code>, que genera un rango de fechas con una frecuencia diaria.
<br><br>
 Luego, se crea una <code>Serie</code> con estos 칤ndices de fecha, y cada valor de la serie est치 asociado a una fecha espec칤fica. El 칤ndice de la serie es un <code>DatetimeIndex</code>, lo que permite realizar f치cilmente manipulaciones y an치lisis basados en fechas.

 # **<font color="DarkBlue">Indexaci칩n, selecci칩n y subconjuntos</font>**

<p align="justify">
En Pandas, la indexaci칩n, selecci칩n y creaci칩n de subconjuntos de series de tiempo son operaciones fundamentales para trabajar con datos temporales. Al utilizar un objeto de tipo <code>DatetimeIndex</code> como 칤ndice de una serie o un DataFrame, Pandas permite realizar diversas operaciones de selecci칩n y filtrado de manera eficiente.
<br><br>
Estas operaciones incluyen el acceso a datos en fechas espec칤ficas, la selecci칩n de un rango de fechas, el filtrado por una frecuencia espec칤fica y la segmentaci칩n por una condici칩n temporal.
<br><br>
Existen varias maneras de realizar la indexaci칩n y selecci칩n de datos en series de tiempo. Por ejemplo, se puede acceder a los datos de una fecha espec칤fica utilizando una notaci칩n similar a la de los 칤ndices tradicionales en Pandas. Tambi칠n es posible seleccionar subconjuntos de datos basados en intervalos de tiempo, como d칤as, meses o a침os, y realizar operaciones basadas en estas divisiones.
<br><br>
Adem치s, la indexaci칩n por fecha permite realizar tareas como la reindexaci칩n (ajustar el 칤ndice para coincidir con una nueva frecuencia), el resampling (cambio de frecuencia de las muestras), y la selecci칩n de un subconjunto de datos en un periodo de tiempo determinado.

 ## **<font color="DarkBlue">Selecci칩n por fecha</font>**

In [ ]:
# Crear un rango de fechas y datos

fechas = pd.date_range("2024-11-01", periods=5, freq="D")
ventas = [100, 200, 150, 175, 210]

In [ ]:
# Crear una serie temporal

serie_ventas = pd.Series(ventas, index=fechas)
serie_ventas.name = "Ventas"
serie_ventas

2024-11-01    100
2024-11-02    200
2024-11-03    150
2024-11-04    175
2024-11-05    210
Freq: D, Name: Ventas, dtype: int64

In [ ]:
# Seleccionar ventas de una fecha espec칤fica

ventas_especificas = serie_ventas["2024-11-03"]
ventas_especificas

150

 ## **<font color="DarkBlue">Selecci칩n por rango de fechas</font>**

In [ ]:
# Seleccionar un rango de fechas

rango_ventas = serie_ventas["2024-11-02":"2024-11-04"]
rango_ventas

2024-11-02    200
2024-11-03    150
2024-11-04    175
Freq: D, Name: Ventas, dtype: int64

 ## **<font color="DarkBlue">Resampling y agregaci칩n por mes</font>**

In [ ]:
# Resampling para obtener ventas mensuales (aunque el conjunto de datos es diario)

ventas_mensuales = serie_ventas.resample('ME').sum()
ventas_mensuales

2024-11-30    835
Freq: ME, Name: Ventas, dtype: int64

 # **<font color="DarkBlue">Generando un rango de fechas</font>**

<p align="justify">
La funci칩n <code>pd.date_range()</code> de Pandas se utiliza para generar un rango de fechas con una frecuencia espec칤fica.
<br><br>
En el ejemplo <code>index = pd.date_range("2012-04-01", "2012-06-01")</code>, se crea un rango de fechas desde el 1 de abril de 2012 hasta el 1 de junio de 2012.
<br><br>
Esta funci칩n devuelve un objeto <code>DatetimeIndex</code> que incluye todas las fechas dentro de ese rango, con una frecuencia predeterminada de un d칤a.  Al utilizar <code>date_range()</code>, es posible especificar el intervalo entre las fechas, lo que permite ajustar el an치lisis de acuerdo con las necesidades espec칤ficas del problema.
</p>

In [ ]:
# Generar un rango de fechas entre el 1 de abril y el 2 de mayo de 2012

index = pd.date_range("2012-04-01", "2012-05-02")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# Crear una serie de ventas con el rango de fechas generado

ventas = [120, 150, 200, 175, 190, 210, 250, 230, 180, 160, 170, 195, 210, 220, 240, 230, 250, 265, 280, 300, 310, 325, 350, 375, 400, 420, 440, 460, 480, 500, 520, 540]

In [ ]:
len(ventas)

32

In [ ]:
# Crear la serie temporal de ventas

serie_ventas = pd.Series(ventas, index=index)
serie_ventas.name = "Ventas"
serie_ventas

2012-04-01    120
2012-04-02    150
2012-04-03    200
2012-04-04    175
2012-04-05    190
2012-04-06    210
2012-04-07    250
2012-04-08    230
2012-04-09    180
2012-04-10    160
2012-04-11    170
2012-04-12    195
2012-04-13    210
2012-04-14    220
2012-04-15    240
2012-04-16    230
2012-04-17    250
2012-04-18    265
2012-04-19    280
2012-04-20    300
2012-04-21    310
2012-04-22    325
2012-04-23    350
2012-04-24    375
2012-04-25    400
2012-04-26    420
2012-04-27    440
2012-04-28    460
2012-04-29    480
2012-04-30    500
2012-05-01    520
2012-05-02    540
Freq: D, Name: Ventas, dtype: int64

In [ ]:
pd.date_range(start="2024-01-01", periods=20)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range(end="2024-11-04", periods=20)

DatetimeIndex(['2024-10-16', '2024-10-17', '2024-10-18', '2024-10-19',
               '2024-10-20', '2024-10-21', '2024-10-22', '2024-10-23',
               '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27',
               '2024-10-28', '2024-10-29', '2024-10-30', '2024-10-31',
               '2024-11-01', '2024-11-02', '2024-11-03', '2024-11-04'],
              dtype='datetime64[ns]', freq='D')

<p align="justify">
Las fechas de inicio y de finalizaci칩n definen l칤mites estrictos para el 칤ndice de fechas generado.
<br><br>
A continuaci칩n, las opciones que se pueden utilizar...

<table border="1">
  <thead>
    <tr>
      <td><b>Alias</td>
      <td><b>Tipo de desplazamiento</td>
      <td><b>Descripci칩n</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>D</td>
      <td>Day</td>
      <td>Calendario diario</td>
    </tr>
    <tr>
      <td>B</td>
      <td>BusinessDay</td>
      <td>Diario de negocios</td>
    </tr>
    <tr>
      <td>H</td>
      <td>Hour</td>
      <td>Cada hora</td>
    </tr>
    <tr>
      <td>Tomin</td>
      <td>Minute</td>
      <td>Una vez por minuto</td>
    </tr>
    <tr>
      <td>S</td>
      <td>Second</td>
      <td>Una vez por segundo</td>
    </tr>
    <tr>
      <td>Loms</td>
      <td>Milli</td>
      <td>Milisegundo (1/1.000 de 1 segundo)</td>
    </tr>
    <tr>
      <td>U</td>
      <td>Micro</td>
      <td>Microsegundo (1/1.000.000 de 1 segundo)</td>
    </tr>
    <tr>
      <td>M</td>
      <td>MonthEnd</td>
      <td>칔ltimo d칤a del calendario del mes</td>
    </tr>
    <tr>
      <td>BM</td>
      <td>BusinessMonthEnd</td>
      <td>칔ltimo d칤a h치bil (d칤a laborable) del mes</td>
    </tr>
    <tr>
      <td>MS</td>
      <td>MonthBegin</td>
      <td>Primer d칤a del calendario del mes</td>
    </tr>
    <tr>
      <td>BMS</td>
      <td>BusinessMonthBegin</td>
      <td>Primer d칤a laborable del mes</td>
    </tr>
    <tr>
      <td>W-MON, W-TUE, ...</td>
      <td>Week</td>
      <td>Semanalmente en un d칤a determinado de la semana (LUN, MAR, MI칄RCOLES, JUEVES, VIERNES, S츼BADOS o DOMINGOS)</td>
    </tr>
    <tr>
      <td>WOM-1MON, WOM-2MON, ...</td>
      <td>WeekOfMonth</td>
      <td>Generar fechas semanales en la primera, segunda, tercera o cuarta semana del mes (por ejemplo, WOM-3FRI para el tercer viernes de cada mes)</td>
    </tr>
    <tr>
      <td>Q-JAN, Q-FEB, ...</td>
      <td>QuarterEnd</td>
      <td>Fechas trimestrales ancladas en el 칰ltimo d칤a calendario de cada mes, para el a침o que termina en el mes indicado (ENE, FEB, MAR, ABR, MAY, JUN, JUL, AGO, SEP, OCT, NOV o DIC)</td>
    </tr>
    <tr>
      <td>BQ-JAN, BQ-FEB, ...</td>
      <td>BusinessQuarterEnd</td>
      <td>Fechas trimestrales ancladas en el 칰ltimo d칤a laborable de cada mes, para el a침o que termina en el mes indicado</td>
    </tr>
    <tr>
      <td>QS-JAN, QS-FEB, ...</td>
      <td>QuarterBegin</td>
      <td>Fechas trimestrales ancladas en el primer d칤a calendario de cada mes, para el a침o que termina en el mes indicado</td>
    </tr>
    <tr>
      <td>BQS-JAN, BQS-FEB, ...</td>
      <td>BusinessQuarterBegin</td>
      <td>Fechas trimestrales ancladas en el primer d칤a laborable de cada mes, para el a침o que termina en el mes indicado</td>
    </tr>
    <tr>
      <td>A-JAN, A-FEB, ...</td>
      <td>YearEnd</td>
      <td>Fechas anuales ancladas en el 칰ltimo d칤a del calendario del mes determinado (ENE, FEB, MAR, ABR, MAY, JUN, JUL, AGO, SEP, OCT, NOV o DIC)</td>
    </tr>
    <tr>
      <td>BA-JAN, BA-FEB, ...</td>
      <td>BusinessYearEnd</td>
      <td>Fechas anuales ancladas en el 칰ltimo d칤a laborable del mes determinado</td>
    </tr>
    <tr>
      <td>AS-JAN, AS-FEB, ...</td>
      <td>YearBegin</td>
      <td>Fechas anuales ancladas en el primer d칤a del mes determinado</td>
    </tr>
    <tr>
      <td>BAS-JAN, BAS-FEB, ...</td>
      <td>BusinessYearBegin</td>
      <td>Fechas anuales ancladas en el primer d칤a laborable del mes determinado</td>
    </tr>
  </tbody>
</table>

 # **<font color="DarkBlue">Frecuencias y desplazamientos de fecha</font>**

<p align="justify">
  En pandas, las frecuencias de tiempo son representadas por una frecuencia base y un multiplicador. La frecuencia base indica el intervalo de tiempo en el cual se realiza el desplazamiento, mientras que el multiplicador determina cu치ntas veces se aplica esa frecuencia base. Por ejemplo, un alias como "ME" representa una frecuencia mensual, mientras que "h" denota una frecuencia horaria.
  <br><br>
  Las frecuencias base suelen ser abreviaciones de cadenas que indican unidades de tiempo comunes, como "D" para d칤as, "B" para d칤as h치biles, "h" para horas, "T" para minutos, "S" para segundos, entre otros. Los multiplicadores permiten trabajar con m칰ltiplos de esas frecuencias, como "2D" para cada dos d칤as o "3H" para cada tres horas.
</p>

 ## **<font color="DarkBlue">Frecuencia Mensual</font>**

In [ ]:
# Crear un rango de fechas con frecuencia mensual

rango_mensual = pd.date_range("2024-01-01", "2024-12-31", freq="ME")
rango_mensual

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31',
               '2024-09-30', '2024-10-31', '2024-11-30', '2024-12-31'],
              dtype='datetime64[ns]', freq='ME')

 ## **<font color="DarkBlue">Frecuencia Horaria</font>**

In [ ]:
# Crear un rango de fechas con frecuencia horaria

rango_horario = pd.date_range("2024-01-01", "2024-01-02", freq="h")
rango_horario

DatetimeIndex(['2024-01-01 00:00:00', '2024-01-01 01:00:00',
               '2024-01-01 02:00:00', '2024-01-01 03:00:00',
               '2024-01-01 04:00:00', '2024-01-01 05:00:00',
               '2024-01-01 06:00:00', '2024-01-01 07:00:00',
               '2024-01-01 08:00:00', '2024-01-01 09:00:00',
               '2024-01-01 10:00:00', '2024-01-01 11:00:00',
               '2024-01-01 12:00:00', '2024-01-01 13:00:00',
               '2024-01-01 14:00:00', '2024-01-01 15:00:00',
               '2024-01-01 16:00:00', '2024-01-01 17:00:00',
               '2024-01-01 18:00:00', '2024-01-01 19:00:00',
               '2024-01-01 20:00:00', '2024-01-01 21:00:00',
               '2024-01-01 22:00:00', '2024-01-01 23:00:00',
               '2024-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='h')

 ## **<font color="DarkBlue">Frecuencia de 2 d칤as</font>**

In [ ]:
# Crear un rango de fechas con frecuencia cada dos d칤as

rango_dos_dias = pd.date_range("2024-01-01", "2024-01-10", freq="2D")
rango_dos_dias

DatetimeIndex(['2024-01-01', '2024-01-03', '2024-01-05', '2024-01-07',
               '2024-01-09'],
              dtype='datetime64[ns]', freq='2D')

 # **<font color="DarkBlue">Timpestamp</font>**

<p align="justify">
  En pandas, <code>Timestamp</code> es un objeto que representa un 칰nico punto en el tiempo, similar al <code>datetime</code> de Python pero con mayor funcionalidad para trabajar con datos en series temporales.
  <br><br>
  Es el equivalente a una fila en una columna temporal de un DataFrame o Series, y se utiliza como la unidad b치sica para manejar marcas de tiempo en pandas.
  <br><br>
  Los objetos <code>Timestamp</code> permiten realizar operaciones como comparaci칩n, aritm칠tica de tiempo, conversi칩n a diferentes formatos de cadenas, y m치s. Adem치s, pueden ser creados directamente a partir de cadenas, objetos <code>datetime</code> de Python o enteros que representan segundos desde la 칠poca Unix.
  <br><br>
  Por ejemplo, se puede convertir una cadena en un objeto <code>Timestamp</code> utilizando la funci칩n <code>pd.Timestamp</code>. Este tipo de dato es fundamental para indexar, analizar y procesar series temporales, ya que permite gestionar eficientemente marcas de tiempo con granularidades que van desde microsegundos hasta a침os.
</p>

In [ ]:
# Crear un objeto Timestamp desde una cadena

stamp = pd.Timestamp("2024-11-04 10:00")
stamp

Timestamp('2024-11-04 10:00:00')

In [ ]:
# Realizar operaciones

stamp_1d = stamp + pd.Timedelta("1 day")
stamp_1d

Timestamp('2024-11-05 10:00:00')

 # **<font color="DarkBlue">Period</font>**

<p align="justify">
  En pandas, el objeto <code>Period</code> representa un intervalo de tiempo fijo, como un mes, un d칤a o un trimestre, en lugar de un punto espec칤fico en el tiempo como lo hace <code>Timestamp</code>.
  <br><br>
  Es especialmente 칰til para trabajar con datos agrupados o agregados en intervalos temporales regulares.
  <br><br>
  Un objeto <code>Period</code> se define mediante un punto de referencia en el tiempo (como una fecha) y una frecuencia (como "M" para mensual o "Q" para trimestral). Los periodos pueden ser utilizados como 칤ndices en series temporales y son compatibles con operaciones aritm칠ticas, como sumar o restar intervalos de tiempo.
  <br><br>
  Los <code>Period</code> permiten una representaci칩n precisa y eficiente de intervalos de tiempo y son comunes en aplicaciones como an치lisis financiero, donde es importante trabajar con datos agregados por trimestres o a침os.
</p>

In [ ]:
# Crear un objeto Period para representar un a침o

periodo_anual = pd.Period("2024", freq="Y-DEC")
periodo_anual

Period('2024', 'Y-DEC')

In [ ]:
periodo_anual - 4

Period('2020', 'Y-DEC')

In [ ]:
# Crear un objeto Period para representar un mes

periodo_mensual = pd.Period("2024-11", freq="M")
periodo_mensual

Period('2024-11', 'M')

In [ ]:
periodo_mensual + 4

Period('2025-03', 'M')

In [ ]:
# Crear un objeto Period para representar un trimestre

periodo_trimestral = pd.Period("2024Q4", freq="Q")
periodo_trimestral

Period('2024Q4', 'Q-DEC')

In [ ]:
periodo_trimestral - 2

Period('2024Q2', 'Q-DEC')

In [ ]:
# Crear un rango de Periods

rango_periodos = pd.period_range("2024-01", "2024-12", freq="M")
rango_periodos

PeriodIndex(['2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06',
             '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12'],
            dtype='period[M]')

<br>
<br>
<p align="center"><b>
游눙
<font color="DarkBlue">
Hemos llegado al final de nuestro colab de Pandas, a seguir codeando...
</font>
</p>