 # **<font color="DarkBlue">Series de tiempo 🐼 </font>**

<p align="center">
<img src="https://pandas.pydata.org/static/img/pandas_mark.svg" width="50">
</p>

https://pandas.pydata.org/

 # **<font color="DarkBlue">Introducción a Series de Tiempo en Pandas</font>**

<p align="justify">
Pandas ofrece un potente soporte para trabajar con datos temporales mediante el módulo <b>Series de Tiempo</b>. Las Series de Tiempo son datos indexados por marcas de tiempo y son esenciales para el análisis de datos cronológicos. Estas marcas pueden ser específicas (como una fecha exacta) o abarcar rangos (como un mes o un año).
<br><br>
Las principales funcionalidades incluyen:
<br><br>

1. **Creación de objetos temporales**: Utilizando <code>pd.date_range</code> o el constructor de índices de tiempo.
<br>
2. **Manipulación de índices de tiempo**: Permite realizar operaciones como re-muestreo, desplazamientos y alineaciones de datos temporales.
<br>
3. **Operaciones con frecuencias**: Pandas soporta múltiples frecuencias, como diaria ('D'), mensual ('Me'), anual ('A'), entre otras.
<br>
4. **Manejo de zonas horarias**: Facilita la conversión entre distintas zonas horarias.
<br>
5. **Análisis de datos temporales**: Es posible filtrar, agrupar y realizar cálculos específicos sobre ventanas de tiempo.

<br>
<p align="justify">
La combinación de estas funcionalidades permite un análisis profundo de datos temporales, desde su limpieza y transformación hasta su visualización y modelado.
</p>

👀 Ejemplo:

In [1]:
import pandas as pd
import plotly.express as px

In [2]:
# Crear una Serie de Tiempo con un rango de fechas

fechas = pd.date_range(start="2024-01-01", periods=10, freq="D")
datos = [10, 12, 15, 14, 16, 20, 22, 24, 26, 30]
serie_tiempo = pd.Series(data=datos, index=fechas)

In [34]:
fechas

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# Operaciones básicas

serie_tiempo.name = "Datos"
serie_tiempo

2024-01-01    10
2024-01-02    12
2024-01-03    15
2024-01-04    14
2024-01-05    16
2024-01-06    20
2024-01-07    22
2024-01-08    24
2024-01-09    26
2024-01-10    30
Freq: D, Name: Datos, dtype: int64

In [4]:
# Re-muestreo a frecuencia semanal (suma de valores)

serie_semanal = serie_tiempo.resample("W").sum()
serie_semanal

2024-01-07    109
2024-01-14     80
Freq: W-SUN, Name: Datos, dtype: int64

In [35]:
serie_tiempo

2024-01-01    10
2024-01-02    12
2024-01-03    15
2024-01-04    14
2024-01-05    16
2024-01-06    20
2024-01-07    22
2024-01-08    24
2024-01-09    26
2024-01-10    30
Freq: D, Name: Datos, dtype: int64

In [5]:
# Desplazamiento temporal

serie_desplazada = serie_tiempo.shift(1)
serie_desplazada

2024-01-01     NaN
2024-01-02    10.0
2024-01-03    12.0
2024-01-04    15.0
2024-01-05    14.0
2024-01-06    16.0
2024-01-07    20.0
2024-01-08    22.0
2024-01-09    24.0
2024-01-10    26.0
Freq: D, Name: Datos, dtype: float64

In [6]:
# Conversión de zona horaria

serie_tz = serie_tiempo.tz_localize("UTC").tz_convert("America/Argentina/Buenos_Aires")
serie_tz

2023-12-31 21:00:00-03:00    10
2024-01-01 21:00:00-03:00    12
2024-01-02 21:00:00-03:00    15
2024-01-03 21:00:00-03:00    14
2024-01-04 21:00:00-03:00    16
2024-01-05 21:00:00-03:00    20
2024-01-06 21:00:00-03:00    22
2024-01-07 21:00:00-03:00    24
2024-01-08 21:00:00-03:00    26
2024-01-09 21:00:00-03:00    30
Freq: D, Name: Datos, dtype: int64

<p align="justify">
En Python, los módulos <b>time</b>, <b>datetime</b>  y <b>calendar</b> proporcionan herramientas potentes para trabajar con fechas y horas. Estas herramientas permiten manejar datos cronológicos de manera eficiente, siendo fundamentales en el análisis de datos temporales.

 ## **<font color="DarkBlue">Time</font>**

<p align="justify">
   Este módulo maneja representaciones basadas en tiempo, incluyendo la obtención de la hora actual, creación de retardos y manejo del tiempo en segundos desde la epoca (1970-01-01).
<br><br>   
   Es útil para medir tiempos de ejecución o crear temporizadores.

In [7]:
import time

In [8]:
# Módulo time: Obtener la hora actual en segundos

current_time = time.time()
print("Hora actual:", current_time)

Hora actual: 1731703995.1879828

In [9]:
type(current_time)

float

In [39]:
time.localtime().tm_year

2024

In [40]:
time.localtime().tm_hour-3

18

In [48]:
datos_tupla = time.localtime().tm_year, time.localtime().tm_mon, time.localtime().tm_mday, time.localtime().tm_hour-3, time.localtime().tm_min, time.localtime().tm_sec  ## lo puedo convertir en una fecha

In [49]:
datos_tupla

(2024, 11, 15, 18, 46, 31)

In [52]:
type(datos_tupla)

tuple

In [47]:
time.sleep(10)
print("Programa pausado durante 10 segundos")

Programa pausado durante 10 segundos

In [45]:
# Pausar el programa por 2 segundos
%%time
time.sleep(2)
print("Programa pausado durante 2 segundos")

Programa pausado durante 2 segundos
CPU times: user 12.8 ms, sys: 1.51 ms, total: 14.3 ms
Wall time: 2 s

 ## **<font color="DarkBlue">Datetime</font>**

<p align="justify">
   El módulo <b>datetime</b> incluye clases como <code>datetime.datetime</code> para trabajar con fechas y horas, <code>datetime.date</code> para fechas específicas y <code>datetime.time</code> para manejar horas.
   <br><br>
   Permite realizar operaciones como cálculo de diferencias entre fechas, formateo y conversión.

In [11]:
import datetime

In [12]:
# Módulo datetime: Crear una fecha y hora

fecha_hora = datetime.datetime(2024, 11, 15, 10, 30)
print("Fecha y hora:", fecha_hora)

Fecha y hora: 2024-11-15 10:30:00

In [60]:
fecha = (2024, 11, 15, 10, 30)

In [59]:
import datetime

# Assuming 'utc' refers to datetime.timezone.utc
utc = datetime.timezone.utc

fecha_hora_local = datetime.datetime(2024, 11, 15, 10, 30, tzinfo=utc)
print("Fecha y hora local:", fecha_hora_local)

Fecha y hora local: 2024-11-15 10:30:00+00:00

In [65]:
datetime.datetime(time.localtime().tm_year, time.localtime().tm_mon, time.localtime().tm_mday, time.localtime().tm_hour-3, time.localtime().tm_min, time.localtime().tm_sec)  ## lo puedo convertir en una fecha

datetime.datetime(2024, 11, 15, 18, 54, 41)

In [72]:
datetime.datetime.now()

datetime.datetime(2024, 11, 15, 22, 12, 2, 482049)

In [73]:
import pytz
zona_buenos_aires = pytz.timezone('America/Argentina/Buenos_Aires')
fecha_hora_local = datetime.datetime.now(zona_buenos_aires)
print("Fecha y hora local:", fecha_hora_local)

Fecha y hora local: 2024-11-15 19:12:58.938280-03:00

In [74]:
fecha_hora_local

datetime.datetime(2024, 11, 15, 19, 12, 58, 938280, tzinfo=<DstTzInfo 'America/Argentina/Buenos_Aires' -03-1 day, 21:00:00 STD>)

In [75]:
fecha_hora_local.year

2024

<p align="justify">
El código presentado utiliza el módulo <b>datetime</b> para crear un objeto que representa una fecha y hora específica:
<br><br>

1. **datetime.datetime**:
<br>
   Se refiere a la clase <code>datetime</code> dentro del módulo <b>datetime</b>. Esta clase se utiliza para manejar fechas y horas completas (año, mes, día, hora, minuto, segundo y microsegundo).
<br><br>

2. **Parámetros**:
<br>
   <code>datetime(2024, 11, 15, 10, 30)</code>:
   <ul>
       <li><b>2024</b>: Año.</li>
       <li><b>11</b>: Mes (noviembre).</li>
       <li><b>15</b>: Día.</li>
       <li><b>10</b>: Hora en formato de 24 horas.</li>
       <li><b>30</b>: Minutos.</li>
   </ul>
   El resultado es un objeto que representa el 15 de noviembre de 2024 a las 10:30 de la mañana.

In [13]:
type(fecha_hora)

datetime.datetime

In [14]:
fecha_hora

datetime.datetime(2024, 11, 15, 10, 30)

In [15]:
fecha_hora.year

2024

In [16]:
ahora = datetime.datetime.now()
ahora

datetime.datetime(2024, 11, 15, 20, 53, 17, 452427)

<p align="justify">
El código utiliza el módulo <b>datetime</b> para obtener la fecha y hora actuales en el momento de ejecución del programa:
<br><br>

1. **datetime.datetime.now()**:
<br>
   <code>datetime.now()</code> es un método de la clase <b>datetime</b>, que devuelve un objeto de tipo <code>datetime</code> representando la fecha y hora exactas en el momento. Este método utiliza la configuración local del sistema para determinar la zona horaria.

<br>

2. **Objeto devuelto**:
<br>
   El objeto <code>ahora</code> contiene información detallada sobre:
   <ul>
       <li><b>Año</b>, <b>Mes</b>, <b>Día</b>: Representan la fecha actual.</li>
       <li><b>Hora</b>, <b>Minuto</b>, <b>Segundo</b>, <b>Microsegundo</b>: Representan la hora actual con alta precisión.</li>
   </ul>
  Por ejemplo, si ejecutamos este código el 15 de noviembre de 2024 a las 15:45:30.123456, el valor de <code>ahora</code> será:
   <br>
   <code>2024-11-15 15:45:30.123456</code>.

<br>

3. **Uso del comando ahora**:
<br>
   Simplemente escribir <code>ahora</code> en una celda de código muestra su contenido, que es la fecha y hora actuales en formato estándar (<code>YYYY-MM-DD HH:MM:SS</code>).



Este código es especialmente útil para registrar marcas de tiempo (timestamps) en tareas como registro de eventos, control de logs, o análisis temporal en tiempo real.
</p>

In [17]:
ahora.year, ahora.month, ahora.day

(2024, 11, 15)

 ## **<font color="DarkBlue">Calendar</font>**

<p align="justify">
   <b>calendar</b> se utiliza para trabajar con calendarios. Permite generar calendarios en texto o HTML, determinar si un año es bisiesto, y obtener datos como el primer día de la semana o el número de semanas en un mes.
<br><br>

In [18]:
import calendar

In [19]:
# Módulo calendar: Generar un calendario mensual

calendario = calendar.month(2024, 11)
print(calendario)

   November 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [76]:
type(calendario)

str

<p align="justify">
El código presentado utiliza el módulo <b>calendar</b> para generar un calendario mensual en formato de texto:
<br><br>

1. **calendar.month(2024, 11)**:
<br>
   La función <code>calendar.month</code> genera un calendario para un mes específico en formato de texto. Los parámetros son:
   <ul>
       <li><b>2024</b>: Año del calendario.</li>
       <li><b>11</b>: Número del mes (noviembre en este caso).</li>
   </ul>
   Devuelve una cadena de texto que representa el calendario del mes indicado. Por defecto, los días de la semana empiezan en lunes (según la configuración estándar de Python).

<br>

2. **Variable calendario**:
<br>
   La variable <code>calendario</code> almacena la representación en texto del calendario generado por <code>calendar.month</code>. Por ejemplo, el calendario de noviembre de 2024 tendrá este aspecto:
   <br><br>
   <code>
      November 2024<br>
      Mo Tu We Th Fr Sa Su<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;2&nbsp;&nbsp;3<br>
        4&nbsp;&nbsp;5&nbsp;&nbsp;6&nbsp;&nbsp;7&nbsp;&nbsp;8&nbsp;&nbsp;9 10<br>
       11 12 13 14 15 16 17<br>
       18 19 20 21 22 23 24<br>
       25 26 27 28 29 30
   </code>

<br>

3. **print(calendario)**:
<br>
   La función <code>print</code> muestra en la salida el texto del calendario almacenado en <code>calendario</code>. Esto permite visualizar el mes con su estructura de días alineados por semana.

In [20]:
# Verificar si el año 2024 es bisiesto

año = 2024
es_bisiesto = calendar.isleap(año)
print(f"\n¿El año {año} es bisiesto? {'Sí' if es_bisiesto else 'No'}")

¿El año 2024 es bisiesto? Sí

In [21]:
# Verificar si el año 2023 es bisiesto

año = 2023
es_bisiesto = calendar.isleap(año)
print(f"\n¿El año {año} es bisiesto? {'Sí' if es_bisiesto else 'No'}")

¿El año 2023 es bisiesto? No

 # **<font color="DarkBlue">Ejemplos</font>**

 <p align="justify"> 🚀 El objeto <b>timedelta</b> del módulo <code>datetime</code> representa una diferencia o duración entre dos fechas u horas. Es especialmente útil en aplicaciones de negocios para calcular plazos, vencimientos o intervalos entre eventos.
<br><br>
Una empresa necesita calcular la fecha de vencimiento de facturas emitidas, considerando un plazo de pago estándar de 30 días. Además, se determina si la fecha de vencimiento cae en fin de semana para ajustar al siguiente día hábil.
</p>

In [22]:
from datetime import datetime, timedelta

# Fecha de emisión de una factura

fecha_emision = datetime(2024, 11, 15)
print("Fecha de emisión:", fecha_emision)

Fecha de emisión: 2024-11-15 00:00:00

In [23]:
# Plazo de pago estándar (30 días)

plazo_pago = timedelta(days=30)
plazo_pago

datetime.timedelta(days=30)

In [24]:
# Calcular la fecha de vencimiento

fecha_vencimiento = fecha_emision + plazo_pago
print("Fecha de vencimiento inicial:", fecha_vencimiento)

Fecha de vencimiento inicial: 2024-12-15 00:00:00

In [80]:
fecha_emision.weekday()  ### cuenta desde 0 el lunes

4

In [78]:
fecha_vencimiento.weekday()

3

In [84]:
# Assuming you want to access the 'day' attribute of fecha_vencimiento:
fecha_vencimiento.day

# If you wanted to change the 'day' attribute of fecha_vencimiento, you could do this:
# (But this creates a new datetime object, it doesn't modify the original)
from datetime import timedelta
new_fecha_vencimiento = fecha_vencimiento + timedelta(days=5 - fecha_vencimiento.day) #Example: Change the day to the 5th

In [85]:
new_fecha_vencimiento

datetime.datetime(2025, 1, 5, 0, 0)

In [25]:
# Ajustar si el vencimiento cae en fin de semana

if fecha_vencimiento.weekday() >= 5:  # 5 = Sábado, 6 = Domingo
    fecha_vencimiento += timedelta(days=(7 - fecha_vencimiento.weekday()))
    print("Fecha de vencimiento ajustada al siguiente día hábil:", fecha_vencimiento)

Fecha de vencimiento ajustada al siguiente día hábil: 2024-12-16 00:00:00

<p align="justify">
Si la factura se emite el 15 de noviembre de 2024, la fecha inicial de vencimiento sería el 15 de diciembre de 2024. Si esta cae en un fin de semana, se ajustará automáticamente al lunes siguiente.
<br><br>
El código también indica cuántos días faltan hasta el vencimiento.

In [26]:
# Calcular días restantes para el vencimiento

hoy = datetime.now()
dias_restantes = (fecha_vencimiento - hoy).days
print(f"Días restantes para el vencimiento: {dias_restantes} días")

Días restantes para el vencimiento: 30 días

<p align="justify"> 🚀
El objeto <b>timedelta</b> también es útil en cálculos de fechas complejos, como la gestión de contratos en negocios. A continuación, se presenta un ejemplo más elaborado:
<br><br>
Una empresa gestiona contratos de servicio con clientes. Cada contrato tiene:
<br>
<ul>
    <li>Una fecha de inicio.</li>
    <li>Una duración definida (en meses).</li>
    <li>Un período de gracia de 7 días posterior a la fecha de vencimiento.</li>
</ul>
<br>
<p aling="justify">
El objetivo es calcular:
<ul>
    <li>La fecha de vencimiento del contrato.</li>
    <li>La fecha límite incluyendo el período de gracia.</li>
    <li>Si la fecha límite ya ha pasado o cuánto tiempo queda para su vencimiento.</li>
</ul>
</p>

In [27]:
# Fecha de inicio del contrato

fecha_inicio = datetime(2024, 1, 15)
print("Fecha de inicio del contrato:", fecha_inicio)

Fecha de inicio del contrato: 2024-01-15 00:00:00

In [28]:
# Duración del contrato en meses

duracion_meses = 12

In [86]:
# Calcular la fecha de vencimiento (agregando meses)
# Suponiendo que los meses tienen en promedio 30 días

fecha_vencimiento = fecha_inicio + timedelta(days=365)
print("Fecha de vencimiento del contrato:", fecha_vencimiento)

Fecha de vencimiento del contrato: 2025-01-14 00:00:00

In [29]:
# Calcular la fecha de vencimiento (agregando meses)
# Suponiendo que los meses tienen en promedio 30 días

fecha_vencimiento = fecha_inicio + timedelta(days=duracion_meses * 30)
print("Fecha de vencimiento del contrato:", fecha_vencimiento)

Fecha de vencimiento del contrato: 2025-01-09 00:00:00

In [30]:
# Período de gracia (7 días)

periodo_gracia = timedelta(days=7)
fecha_limite = fecha_vencimiento + periodo_gracia
print("Fecha límite incluyendo período de gracia:", fecha_limite)

Fecha límite incluyendo período de gracia: 2025-01-16 00:00:00

In [88]:
from datetime import datetime, timedelta

# ... (rest of your code)

# Determinar estado actual del contrato

hoy = datetime.now() # Use datetime.now() instead of datetime.now()
if hoy > fecha_limite:
    print("El contrato ha vencido. Fecha límite pasada.")
else:
    dias_restantes = (fecha_limite - hoy).days
    print(f"El contrato está vigente. Días restantes para la fecha límite: {dias_restantes}")

El contrato está vigente. Días restantes para la fecha límite: 61

In [89]:
# Determinar estado actual del contrato
from datetime import datetime, timedelta
hoy = datetime.now()
if hoy > fecha_limite:
    print("El contrato ha vencido. Fecha límite pasada.")
else:
    dias_restantes = (fecha_limite - hoy).days
    print(f"El contrato está vigente. Días restantes para la fecha límite: {dias_restantes}")

El contrato está vigente. Días restantes para la fecha límite: 61

In [92]:
# Calcular penalización por vencimiento (si aplica)

dias_vencidos = (hoy - fecha_limite).days if hoy > fecha_limite else 0
if dias_vencidos > 0:
    penalizacion_por_dia = 50  # Penalización en dólares por día de retraso
    penalizacion_total = dias_vencidos * penalizacion_por_dia
    print(f"Penalización por {dias_vencidos} días de retraso: ${penalizacion_total:.2f}")

In [91]:
dias_vencidos

0

Si el contrato inició el 15 de enero de 2024, los resultados serían:

- Fecha de vencimiento: 15 de enero de 2025.
- Fecha límite con gracia: 22 de enero de 2025.
- Si la fecha actual es 20 de noviembre de 2024, el contrato estará vigente con 58 días restantes para la fecha límite.
- Si la fecha actual es 25 de enero de 2025, habrá una penalización calculada por los días de retraso.

<br>
<br>
<p align="center"><b>
💗
<font color="DarkBlue">
Hemos llegado al final de nuestro colab de Pandas, a seguir codeando...
</font>
</p>